# Compiled executables
Lab1/A/bubble
Lab1/B/insertion
Lab1/C/selection
Lab1/D/quick
Lab2/A/linear
Lab2/B/binary
Lab3/A/stack
Lab3/B/stack_linked
Lab3/C/infix
Lab4/A/queue
Lab4/B/cir
Lab5/A/sing
Lab5/B/cir
Lab5/C/d
Lab5/D/p
Lab6/A/b
Lab6/B/t
Lab6/C/h
Lab3/B/stack
Lab4/A/qu
